body {
    height: 100vh;
    background-color: var(--gray-light);
    color: var(--black);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    width: 1208px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--black);
}

.main-icon {
    width: 60px;
    height: 60px;
    margin-right: 6px;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-nav ul {
    display: flex;
    font-family: "Inter", sans-serif;
}

.header-nav ul li {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
}

.contact-header {
    display: flex;
    align-items: center;
}

.telephone-header {
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: 10px;
}

.telephone-header img {
    width: 24px;
    height: 24px;
    margin: 12px;
}

.telephone-header p {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.donate-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 22px;
    width: 181px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--pink);
    border-radius: 32px;
    margin-left: 10px;
}

.donate-button img {
    width: 32px;
    height: 32px;
}

.home {
    height: 816px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 152px 120px 152px;
}

.about {
    width: 584px;
}

.about h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    margin-bottom: 24px;
}

.about p {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 38.4px;
    margin-bottom: 48px;
}

.about h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

.home .buttons {
    display: flex;
    align-items: center;
}

.home .buttons .donate-button {
    width: 177px;
    margin-left: 0;
    margin-right: 32px;
}

#adopt-button {
    width: 257px;
    height: 64px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;   
    font-weight: 700;
    background-color: var(--gray-light);
    border: 2px var(--black) solid;
}

#adopt-button img {
    margin-right: 8px;
    width: 32px;
    height: 32px;
}

.main-image {
    width: 584px;
    height: 616px;
}

.outcome {
    background-color: var(--black);
    height: 924px;
    padding: 80px 152px;
    display: flex;
    flex-direction: column;
}

.outcome-title {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
    margin-bottom: 80px;
}

.outcome .data {
    display: flex;
    justify-content: space-between;
}

.number {
    text-align: center;
    width: 376px;
    margin-bottom: 80px;
}

.number h2 {
    color: var(--yellow);
    font-size: 64px;
    font-weight: 700;
}

.number p {
    font-size: 32px;
    font-weight: 700;
    color: var(--white);
}

.sliders {
    height: 326px;
    text-align: center;
}

.provider {
    height: 1117px;
    background-color: var(--black);
    padding: 80px 152px 120px 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.provider h2 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.provider-items {
    height: 770px;
    display: grid;
    grid-template-columns: 376px 376px 376px;
    column-gap: 40px;
    row-gap: 60px;
}

.provider-items .items {
    border: 2px var(--white) solid;
    border-radius: 24px;
    padding: 29.5px 36px;
    position: relative;
}

.title-item {
    display: flex;
    align-items: center;
}

.title-item h3 {
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
}

.items-transport {
    padding: 36px 24px;
    border: 2px var(--white) solid;
    border-radius: 24px;
    position: relative;
}

.title-item img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 24px;
    top: 24px;
}

.provider-items p { 
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 32px;
}

.adoption {
    height: 907px;
    padding: 80px 152px 120px 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adoption-title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.about-adoption {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.adoption-image {
    width: 584px;
    height: 616px;
    margin-right: 40px;
}

.adoption-info {
    width: 584px;
    height: 616px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.adoption-info h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.adoption-items {
    list-style: disc;
    height: 368px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;
}

.adoption-items .adoption-item {
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

.adoption-button {
    width: 217px;
    height: 64px;
    border-radius: 32px;
    background-color: var(--black);
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.make-a-difference {
    background-color: var(--black);
    height: 732px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 152px 80px 152px
}

.difference-title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.difference-title h2 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 67.2px;
}

.difference-title img {
    width: 100px;
    height: 100px;
}

.difference-items {
    height: 358px;
    display: flex;
    column-gap: 40px;
}

.difference-items .item {
    border: 2px var(--white) solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px 24px;
}

.difference-items .item h3 {
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
}

.difference-items .item p {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: center;
}

.difference-items .item button {
    height: 64px;
    width: 224px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 700;
}

.difference-items .adopt button {
    background-color: var(--green);
}

.difference-items .volunteer button {
    background-color: var(--yellow-dark);
}

.difference-items .donate button {
    background-color: var(--pink);
    color: var(--white);
}

.difference-items .fundraiser button {
    background-color: var(--purple);
    color: var(--white);
}

.find-pet {
    height: 482px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 152px 120px 152px ;
    position: relative;
}

.find-pet img{
    position: absolute;
    width: 300px;
    height: 400px;
    bottom: 0;
}

.find-pet .pet-left {
    left: 66px;
}

.find-pet .pet-right {
    right: 66px;
}

.find-info {
    height: 282px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.find-info h2 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.find-info span {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    color: var(--yellow);
}

.find-info p {
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}

.view-button, .apply-button {
    height: 64px;
    border-radius: 32px;
    font-size: 20px;
    font-weight: 700;
    margin: 12px;
}

.view-button {
    width: 238px;
    background-color: var(--yellow);
    color: var(--black);
}

.apply-button {
    width: 223px;
    background-color: var(--black);
    color: var(--white);
    border: 2px var(--white) solid;
}

.subscribe {
    background-color: var(--purple);
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 152px;
}

.subscribe-info h2 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 12px;
}

.subscribe-info p {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: center;
}

#email-input {
    background-color: var(--purple);
    width: 395px;
    height: 64px;
    border-radius: 32px;
    border: 2px var(--white) solid;
    padding: 16px 24px;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    margin-right: 24px;
}

#email-input::placeholder {
    color: var(--transparent-middle);
    font-size: 20px;
    font-weight: 400;
}

#submit-email {
    width: 170px;
    height: 64px;
    border-radius: 32px;
    background-color: var(--white);
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
}

footer {
    height: 603px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-footer {
    display: flex;
    justify-content: space-between;
    width: 1208px;
    height: 334px;
    padding-bottom: 60px;
    border-bottom: 2px solid var(--black);
}

.logo-footer {
    width: 272px;
    height: 272px;

}

#logo-animals {
    width: 100px;
    height: 100px;
}

#pink-heart {
    width: 36px;
    height: 36px;
}

.logo-footer h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    margin: 16px 0;
}

.logo-footer p {
    font-weight: 700;
    font-size: 20px;
}

.footer-nav ul {
    height: 272px;
    display: grid;
    grid-template-columns: 272px 272px;
    column-gap: 40px;
}

.footer-nav ul li {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.contact-info {
    width: 272px;
    height: 272px;
    display: flex;
    flex-direction: column;
}

.contact-footer ul li {
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
}

.contact-footer ul li img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.social-media ul {
    display: flex;
    margin-right: 20px;
}

.social-media ul li {
    margin-right: 20px;
}

.social-media ul li img {
    width: 32px;
    height: 32px;
}

.slogan {
    width: 1208px;
    margin-top: 60px;
}

.slogan p {
    font-weight: 700;
    font-size: 32px;
    line-height: 51.2px;
    text-align: center;
}

.slogan p span {
    color: var(--pink);
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}